@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px Arial, "맑은 고딕",sans-serif;
}
.top {
    background: #003f85;
    overflow: hidden;
}
.top_menu {
    width: 1182px;
    margin: 0 auto;
}
.top_menu ul {
    float: right;
}
.top_menu ul li {
    float: left;
}
.top_menu ul li a {
    display: block;
    color: #fff;
    padding: 10px 0 10px 10px
}
.top_menu ul li a::after{
    content: "/";
}