@charset "utf-8";
@font-face {
    font-family: opensans;
    src: url(../../webfonts/OpenSans-Regular.woff) format("woff");
}
@keyframes menumove{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
/*@media (max-width:700px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용
    #main {
        display: block;    
    }
}
#main #contents {  
    margin-bottom: 10px; 
    margin-right: 0px;
}
#main #sidebar {
    min-height: 0;
}*/

.clearfix::before, .clearfix::after {
    content: "";
    display: block;
}
.clearfix::after {
    clear: both;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px opensans, "맑은 고딕", sans-serif;
}
#wrap{
    
}
.top{
    background: #000;
    height: 87px;
}
.top_menu{
    width: 1280px;
    margin: 0 auto;
}
.top_menu > ul > li > a:hover{
    animation: menumove 0.5s forwards;
}
.top_menu h2 a{
    color: #FFF;
    float: left;
    line-height: 87px;
}
.top_menu ul {
    float: right;
    position: relative;
}
.top_menu ul li a:hover{
    opacity: 0.7;
}
.top_menu ul li:hover .sub{
    display:block;
}
.top_menu ul .sub{
    display:none;
    position: absolute;
    left: 120px;
    top: 80px;
    width: 40%;
    overflow: hidden;
    text-align: center;
    background: #000;
}
.top_menu ul .sub li:hover{
    opacity: 0.7;
}
.top_menu > ul > li {
    float: left;
}
.top_menu > ul > li > a {
    display: block;
    color: #fff;
    line-height: 87px;
    margin-left: 20px;
}
.top_menu .sub li a{
    line-height: 30px;
    color: #fff;
}
.top_menu ul li a span {
    font-size: 16px;
}
.gnb {
    clear: both;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 50px 0 50px;
    height: 80px;
}
.gnb .inner .menu li:hover{
    opacity: 0.5;
    text-decoration: underline;
}
.gnb .inner .rmenu li:hover{
    opacity: 0.5;
    text-decoration: underline;
}
.gnb .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.gnb .inner .menu,
.gnb .inner .rmenu {
    display: flex;
    align-items: center;
}
.gnb .inner a {
    text-transform: uppercase;
}
.gnb .inner .menu a {
    margin-right: 20px;
}
.gnb .inner .rmenu li {
    margin-left: 20px;
}
.gnb .inner .rmenu .login {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
}
.gnb .inner .rmenu .login:hover{
    background: #ccc;
}
.product {
    border-top: 1px solid #ccc;
}
.product .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.product .inner span{
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px 0 10px 0;
}
.product .row1 li:first-child span{
    background: #000;
}
.product .row2 li:first-child span{
    background: #000;
}
.product .row1 li:nth-child(2) span{
    background: brown;
}
.product .row1 li:nth-child(3) span{
    background: blue;
}
.product .row1 li:nth-child(4) span{
    background: brown;
}

.product .inner span::after{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    bottom: 10px;
    left: 20px;
}
.product .inner span::before{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    bottom: 10px;
    left: 40px;
}
.product .row1 li:first-child span::after{
    background: skyblue;
}
.product .row2 li:first-child span::after{
    background: red;
}
.product .row2 li:first-child span::before{
    background: khaki;
}
.product .row1 li:nth-child(2) span::after{
    background: burlywood;
}
.product .row1 li:nth-child(2) span::before{
    background:
}
.product .row1 li:nth-child(2) span::before{
    background: slateblue;
}
.product .row1 li:nth-child(3) span::after{
    background: black;
}
.product .row1 li:nth-child(3) span::before{
    background: green;
}
.product .row1 li:nth-child(4) span::after{
    background: black;
}
.product .inner h2 {
    width: 200px;
    text-transform: uppercase;
}
.product .inner ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1080px;
}
.product .inner ul li {
    position: relative;
    flex: 0 1 250px;
    margin-top: 50px;
}
.product .inner ul li p:first-child {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 330px;
}
.product .inner ul li p:first-child:hover{
    opacity: 0.7;
    cursor: pointer;
}
.product .inner ul li p img {
    width: 250px;
}
.showmore{
    display: none;
}
div .seemore{
    padding: 50px;
    border-bottom: 1px solid #ccc;
}
div .more{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    margin-left: 900px;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
div .seemore .more:hover{
    background: #ccc;
    color: #fff;
}
div .seemore .more a:hover{
    color:#fff
}
div .notice{
    display: block;
    height: 200px;
    line-height: 30px;

    
}
.style01 {
    position: fixed;
}